{"openapi":"3.0.1","info":{"title":"Public partner's API service","version":"1.0.0"},"servers":[{"url":"https://api.autonovad.ua/dev"}],"tags":[{"description":"Для отримання даних по докуметам","name":"Documents resource"},{"description":"Resource to manipulate client's addresses","name":"Address resource"},{"description":"Resource to manipulate orders, order's data","name":"Orders resource"},{"description":"Resource to manipulate warehouses data","name":"Warehouses resource"},{"description":"Resource to manipulate affiliates data","name":"Affiliates resource"},{"description":"Resource to get authentication, access & refresh tokens.Pre-request to this resource needed before requesting API-resources","name":"Authentication resource"},{"description":"Resource to manipulate delivery data","name":"Delivery resource"},{"description":"Resource to manipulate prices data","name":"Prices resource"},{"description":"Resource to manipulate wares data","name":"Wares resource"}],"paths":{"/api/v1/addresses/carriers/clients/{clientId}/city/{cityId}":{"get":{"description":"Array of carriers by cityId and clientId registered in ERP","operationId":"getCarriersByClientIdCityId","parameters":[{"description":"Ідентифікатор міста, по якому робимо запит отримання доставки. Отримання у методі /regions/{regionId}/cities","in":"path","name":"cityId","required":true,"schema":{"type":"string"}},{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarriersResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"List of carriers","tags":["Address resource"]}},"/api/v1/addresses/clients/{clientId}":{"get":{"description":"Client's addresses registered in ERP.","operationId":"getClientsAddresses","parameters":[{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressesResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}},"401":{"description":"Unauthorized. Token expired or missed"}},"security":[{"keycloak":[]}],"summary":"Get a list of user's addresses.","tags":["Address resource"]}},"/api/v1/addresses/delivery-points/city/{cityId}/carrier/{carrierId}":{"get":{"description":"Array of registered delivery points by cityId and carrierId","operationId":"getDeliveryPointsByCityIdCarrierId","parameters":[{"description":"Ідентифікатор міста, по якому робимо запит отримання доставки. Отримання у методі /regions/{regionId}/cities","in":"path","name":"cityId","required":true,"schema":{"type":"string"}},{"description":"Ідентифікатор перевізника, по якому робимо запит отримання точок доставки. Отримання у методі /carriers/clients/{clientId}/city/{cityId}","in":"path","name":"carrierId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionsCitiesResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"List of delivery points","tags":["Address resource"]}},"/api/v1/addresses/regions":{"get":{"description":"Array of regions registered in ERP.","operationId":"getRegions","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdNameResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get a list of all regions.","tags":["Address resource"]}},"/api/v1/addresses/regions/{regionId}/cities":{"get":{"description":"Array of cities in region (\"regionId\" parameter needed). Additional request-parameter \"withcarrier\" filtered cities  only with carriers","operationId":"getCitiesInRegion","parameters":[{"description":"Ідентифікатор регіону, в якому запитуємо доступні міста. Отримання у методі - /regions цього ресурсу.","in":"path","name":"regionId","required":true,"schema":{"type":"string"}},{"description":"Фільтр міст лише з доставкою або усі міста регіона.","in":"query","name":"withcarrier","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionsCitiesResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get a list of cities in region","tags":["Address resource"]}},"/api/v1/affiliates":{"get":{"description":"Return array of affiliates registered in ERP","operationId":"getAffiliates","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get affiliates","tags":["Affiliates resource"]}},"/api/v1/auth/token":{"post":{"description":"POST username-password payload to get access token forAPI requesting.","operationId":"getToken","requestBody":{"content":{"application/json":{"example":{"username":"myUsername","password":"myPassword"},"schema":{"$ref":"#/components/schemas/AuthUsernamePasswordDto"}}},"description":"Payload with user credentials (username & password)","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"summary":"Get access token with username-password","tags":["Authentication resource"]}},"/api/v1/auth/token/refresh/{refreshToken}":{"get":{"description":"Exchange refresh token to access token without credentials","operationId":"refreshToken","parameters":[{"in":"path","name":"refreshToken","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"summary":"Get access token with refresh","tags":["Authentication resource"]}},"/api/v1/deliveries/available-time/clients/{clientId}/address/{addressId}":{"get":{"description":"Array of delivery methods by clientId and addressId","operationId":"getDeliveryTimes","parameters":[{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}},{"description":"Ідентифікатор адреси. Отримується у /api/v1/addresses/clients/{clientId}","example":213221,"in":"path","name":"addressId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryTimesResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get delivery methods","tags":["Delivery resource"]}},"/api/v1/deliveries/clients/{clientId}/address/{addressId}":{"get":{"description":"Array of delivery methods by clientId and addressId","operationId":"getDeliveryMethodsByClientAddressId","parameters":[{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}},{"description":"Ідентифікатор адреси. Отримується у /api/v1/addresses/clients/{clientId}","example":213221,"in":"path","name":"addressId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryMethodsResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get delivery methods","tags":["Delivery resource"]}},"/api/v1/documents/consignments":{"get":{"description":"Повертає у відповіді дані про консигнації","operationId":"getConsignmentTransfers","parameters":[{"description":"Дата початку періоду пошуку.","example":"2025-02-01T00:00:00.000","in":"query","name":"from","required":true,"schema":{"type":"string"}},{"description":"Дата кінця періоду пошуку.","example":"2025-02-01T00:00:00.000","in":"query","name":"to","required":true,"schema":{"type":"string"}},{"description":"Код складу.","example":111,"in":"query","name":"warehouseId","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsignmentTransfersResponseDto"}}},"description":"OK"}},"security":[{"keycloak":[]}],"summary":"Отримання консигнацій за період","tags":["Documents resource"]}},"/api/v1/documents/consignments/all":{"get":{"description":"Повертає у відповіді дані про консигнації з товарами","operationId":"getAllDocsByPeriod","parameters":[{"description":"Дата початку періоду пошуку.","example":"2025-02-01T00:00:00.000","in":"query","name":"from","required":true,"schema":{"type":"string"}},{"description":"Дата кінця періоду пошуку.","example":"2025-02-01T00:00:00.000","in":"query","name":"to","required":true,"schema":{"type":"string"}},{"description":"Код складу.","example":111,"in":"query","name":"warehouseId","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsignmentTransfersWithPositionsResponseDto"}}},"description":"OK"}},"security":[{"keycloak":[]}],"summary":"Отримання консигнацій за період з товарами","tags":["Documents resource"]}},"/api/v1/documents/consignments/{docId}":{"get":{"description":"Повертає у відповіді дані про консигнацію","operationId":"getDocById","parameters":[{"description":"Унікальний ідентифікатор документа.","example":"c41bcef1-9d04-11eb-8112-0cc47a0c2eb7","in":"path","name":"docId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsignmentTransfersWithPositionsResponseDto"}}},"description":"OK"}},"security":[{"keycloak":[]}],"summary":"Отримання консигнації за ідентифікатором документа","tags":["Documents resource"]}},"/api/v1/documents/shipments":{"get":{"description":"Повертає у відповіді дані про видаткові накладні, відвантажені по замовлнням","operationId":"getShipmentsByPeriod","parameters":[{"description":"Дата початку періоду пошуку видаткових.","example":"2025-02-01T00:00:00.000","in":"query","name":"from","required":true,"schema":{"type":"string"}},{"description":"Дата кінця періоду пошуку видаткових.","example":"2025-02-01T00:00:00.000","in":"query","name":"to","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShipmentDocumentsDtoResponse"}}},"description":"OK"}},"security":[{"keycloak":[]}],"summary":"Отримання видаткових за період","tags":["Documents resource"]}},"/api/v1/documents/shipments/orders/{orderUuid}":{"get":{"description":"Повертає у відповіді дані про видаткові накладні, відвантажені по замовлнню","operationId":"getShipmentsByOrderUuid","parameters":[{"description":"Унікальний ідентифікатор замовлення.","example":"a3f5dfad-6d84-11e9-80f0-0cc47a0c2eb7","in":"path","name":"orderUuid","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShipmentDocumentsDtoResponse"}}},"description":"OK"},"400":{"content":{"application/json":{}},"description":"Невірний ідентифікатор, по якому немає замовлення"}},"security":[{"keycloak":[]}],"summary":"Отримання видаткових по ідентифікатору замовлення","tags":["Documents resource"]}},"/api/v1/orders":{"post":{"description":"Create order from payload in ERP.","operationId":"createOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderFullDto"}}},"description":"Payload with order data to create order in ERP","required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Create order","tags":["Orders resource"]}},"/api/v1/orders/client/{clientId}":{"get":{"description":"List of client's orders","operationId":"getClientOrders","parameters":[{"description":"Структура відбору по замовленням клієнта. Спецсимовли \"{}\"\" кодуються через \"%\"","examples":{"Приклад закодованого об'єкту":{"description":"Закодовані спецсимволи згідно специфікації","value":"%7B%22DateFrom%22%3A%222024-01-01T00%3A00%3A00%2B02%3A00%22%2C%22DateTo%22%3A%22%22%2C%22OrderId%22%3A%22%22%2C%22Article%22%3A%22%22%2C%22Brand%22%3A%22%22%2C%22WareName%22%3A%22%22%2C%22StatusId%22%3A%22%22%7D"},"Приклад рядка як JSON-об'єкт":{"description":"Некодований приклад фільтру","value":{"DateFrom":"2024-01-01T00:00:00+02:00","DateTo":"","OrderId":"","Article":"","Brand":"","WareName":"","StatusId":""}}},"in":"query","name":"OrderFilter","required":true,"schema":{"type":"string"}},{"description":"Структура фільтру пагінації. Спецсимовли \"{}\"\" кодуються через \"%\"","examples":{"Приклад закодованого об'єкту":{"description":"Закодовані спецсимволи згідно специфікації","value":"%7B%22OrderColumn%22%3A%22%22%2C%22OrderDate%22%3A%22%22%2C%22OrderDirection%22%3A%22ASC%22%2C%22PageSize%22%3A25%2C%22PageNumber%22%3A1%7D"},"Приклад рядка як JSON-об'єкт":{"description":"Некодований приклад фільтру","value":{"OrderColumn":"","OrderDate":"","OrderDirection":"","ASC":"","PageSize":25,"PageNumber":1}}},"in":"query","name":"PageOptions","required":true,"schema":{"type":"string"}},{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get client's orders","tags":["Orders resource"]}},"/api/v1/orders/positions/client/{clientId}":{"get":{"description":"List of detailed positions in client's orders","operationId":"getOrdersWithPositions","parameters":[{"description":"Структура відбору по замовленням клієнта. Спецсимовли \"{}\"\" кодуються через \"%\"","examples":{"Приклад закодованого об'єкту":{"description":"Закодовані спецсимволи згідно специфікації","value":"%7B%22DateFrom%22%3A%222024-01-01T00%3A00%3A00%2B02%3A00%22%2C%22DateTo%22%3A%22%22%2C%22OrderId%22%3A%22%22%2C%22Article%22%3A%22%22%2C%22Brand%22%3A%22%22%2C%22WareName%22%3A%22%22%2C%22StatusId%22%3A%22%22%7D"},"Приклад рядка як JSON-об'єкт":{"description":"Некодований приклад фільтру","value":{"DateFrom":"2024-01-01T00:00:00+02:00","DateTo":"","OrderId":"","Article":"","Brand":"","WareName":"","StatusId":""}}},"in":"query","name":"OrderFilter","required":true,"schema":{"type":"string"}},{"description":"Структура фільтру пагінації. Спецсимовли \"{}\"\" кодуються через \"%\"","examples":{"Приклад закодованого об'єкту":{"description":"Закодовані спецсимволи згідно специфікації","value":"%7B%22OrderColumn%22%3A%22%22%2C%22OrderDate%22%3A%22%22%2C%22OrderDirection%22%3A%22ASC%22%2C%22PageSize%22%3A25%2C%22PageNumber%22%3A1%7D"},"Приклад рядка як JSON-об'єкт":{"description":"Некодований приклад фільтру","value":{"OrderColumn":"","OrderDate":"","OrderDirection":"","ASC":"","PageSize":25,"PageNumber":1}}},"in":"query","name":"PageOptions","required":true,"schema":{"type":"string"}},{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderPositionsResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get order's positions","tags":["Orders resource"]}},"/api/v1/orders/statuses":{"get":{"description":"List of possible statuses in orders","operationId":"getOrdersStatuses","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatusResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get order's statuses","tags":["Orders resource"]}},"/api/v1/orders/statuses/positions":{"get":{"description":"List of possible statuses of order's positions","operationId":"getOrderStatusPositions","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatusResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get statutes of order's position","tags":["Orders resource"]}},"/api/v1/orders/{orderId}/clients/{clientId}":{"get":{"description":"Get order by UUID and client identifier in ERP","operationId":"getOrderDetailedData","parameters":[{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}},{"description":"Ідентифікатор замовлення у системі. Отримується  у /client/{clientId}","example":99,"in":"path","name":"orderId","required":true,"schema":{"type":"string"}},{"in":"query","name":"WithoutItemData","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderDetailsInfoResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get order","tags":["Orders resource"]}},"/api/v1/prices/clients/{clientId}":{"get":{"description":"Get array of prices by client identifier","operationId":"getClientsPrice","parameters":[{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientPriceResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get prices","tags":["Prices resource"]}},"/api/v1/prices/{priceId}":{"get":{"description":"Get price file by identifier","operationId":"getPriceFileById","parameters":[{"description":"Ідентифікатор прайса. Отримується у /api/v1/prices/clients/{clientId}","example":99,"in":"path","name":"priceId","required":true,"schema":{"type":"string"}},{"in":"query","name":"extension","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceFileResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get price file","tags":["Prices resource"]}},"/api/v1/warehouses":{"get":{"description":"Array of warehouses registered in ERP.","operationId":"getWarehouses","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get a warehouse list.","tags":["Warehouses resource"]}},"/api/v1/warehouses/consignment":{"get":{"operationId":"getConsignmentWarehouses","responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdNameResponse"}}},"description":"OK"}},"tags":["Warehouses resource"]}},"/api/v1/wares/article/{articleId}":{"get":{"description":"List of wares by article","operationId":"getWaresByArticle","parameters":[{"description":"Артикул запчастини","example":"1A3002850031_486","in":"path","name":"articleId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WareListWithPropertiesResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get wares by article","tags":["Wares resource"]}},"/api/v1/wares/article/{articleId}/brands/{brandId}/parts/{partId}":{"get":{"description":"Ware by article, brand, ware number","operationId":"getWareByArticleBrandPartId","parameters":[{"description":"Код запчастини.","example":"111210_62","in":"path","name":"partId","required":true,"schema":{"type":"string"}},{"description":"Артикул запчастини","example":"1A3002850031_486","in":"path","name":"articleId","required":true,"schema":{"type":"string"}},{"description":"Код виробника. Отримуємо у /producers","example":22,"in":"path","name":"brandId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WareDetailedResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get ware by parameters","tags":["Wares resource"]}},"/api/v1/wares/clients/{clientId}/parts/{partId}":{"get":{"description":"List of ware's offers by client and ware identifier","operationId":"getWareOffers","parameters":[{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}},{"description":"Код запчастини.","example":"111210_62","in":"path","name":"partId","required":true,"schema":{"type":"string"}},{"description":"filter by category type default = 3","in":"query","name":"FilterByResultCategory","required":true,"schema":{"type":"string","default":"3"}},{"description":"По замовчуванню встановлено. Вимакає видачу замін (аналогів, кросів)","in":"query","name":"WithAnalogs","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WareOfferListResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get offer","tags":["Wares resource"]}},"/api/v1/wares/clients/{clientId}/stock":{"get":{"description":"Повертається стурктура з основною інформацією по запчастині та залишкі у розрізі складів.","operationId":"getSpareOnStock","parameters":[{"description":"Унікальний код клієнта у системі. Отримується при створенні картки клієнта у АвтоноваД.","example":99,"in":"path","name":"clientId","required":true,"schema":{"type":"string"}},{"allowEmptyValue":true,"description":"Коди запчастин, розділені ;","example":"612598520_66;612598520_65;0000021_1153;4881848020_77","in":"query","name":"spareCodes","required":true,"schema":{"type":"string","default":""}},{"allowEmptyValue":true,"description":"Код складу. Якщо не вказано - по всім складам пошук.","in":"query","name":"warehouseId","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpareStockDtoResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Отримання залишків та ціни запчастини по коду (унікальний ідентифікатор) та коду складу.","tags":["Wares resource"]}},"/api/v1/wares/producers":{"get":{"description":"List of wares possible producers","operationId":"getProducers","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProducerResponse"}}},"description":"OK","headers":{"Content-Type":{"description":"Data type","schema":{"type":"string"},"style":"simple"}}}},"security":[{"keycloak":[]}],"summary":"Get wares producers","tags":["Wares resource"]}}},"components":{"schemas":{"AddressDto":{"type":"object","properties":{"AddressLine":{"type":"string","description":"Full address","example":"Вінницька обл.,  Вінниця,  вул. 1-й Москвіна  1."},"BusinessRegionId":{"type":"string","description":"Business-region's id","example":"000000003"},"BusinessRegionName":{"type":"string","description":"Business-region name","example":"Вінницька"},"ClientEmail":{"type":"string","description":"Client's email","example":"ivanov@example.com"},"ClientLastname":{"type":"string","description":"Client's lastname","example":"Іванович"},"ClientName":{"type":"string","description":"Client's name","example":"Іван"},"ClientPhone":{"type":"string","description":"Client's phone","example":"+380500123456"},"ClientSurname":{"type":"string","description":"Client's surname","example":"Іванов"},"Comment":{"type":"string","description":"Comment to address","example":"Main address"},"CompanyCode":{"type":"string","description":"Organization identifier","example":"45689845"},"CompanyName":{"type":"string","description":"Organization name","example":"1st organization"},"CountryId":{"type":"string","description":"Country identifier","example":"UA"},"CountryName":{"type":"string","description":"Country name","example":"Україна"},"Flat":{"type":"string","description":"Flat number","example":"1"},"House":{"type":"string","description":"Building number","example":"1"},"Id":{"type":"string","description":"Address identifier","example":"69542"},"IsDefault":{"type":"boolean","description":"Is address is default for client","example":true},"IsDeletePossible":{"type":"boolean","description":"Is address could be delete","example":false},"IsOrganization":{"type":"boolean","description":"Mark that client is an organization","example":false},"LocalityId":{"type":"string","description":"Locality (city) identifier","example":"000000004"},"LocalityName":{"type":"string","description":"City name","example":"Вінниця"},"PickupPointId":{"type":"string","description":"Pick-up identifier","example":"01800"},"PickupPointName":{"type":"string","description":"Pick-up point name","example":"пров. Малиновий 1"},"RegionId":{"type":"integer","description":"Addresses region's id","format":"int32","example":13},"RegionName":{"type":"string","description":"Addresses region name","example":"Вінницька обл."},"StoreName":{"type":"string","description":"Store name","example":"1st Store"},"StreetId":{"type":"integer","description":"Street identifier","format":"int32","example":101638},"StreetName":{"type":"string","description":"Street name","example":"вул. 1-й Москвіна"},"TransporterServiceId":{"type":"integer","description":"Identifier of transporter service","format":"int32","example":0},"TransporterServiceName":{"type":"string","description":"Transporter service name","example":"1st POST"},"WarehouseId":{"type":"string","description":"Warehouse identifier","example":"458442"},"Zip":{"type":"string","description":"Zip-code","example":"84207"}},"description":"Client's addresses list"},"AddressesResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of addresses","items":{"$ref":"#/components/schemas/AddressDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"AffiliateDto":{"type":"object","properties":{"Contacts":{"type":"string","description":"contact phone numbers","example":"380501234567, 380509876543"},"Dealer":{"type":"boolean","description":"mark that affiliate is a dealer","writeOnly":true,"example":false},"DealerId":{"type":"string","description":"dealer identifier","writeOnly":true,"example":"021121"},"Host":{"type":"string","description":"affiliates host","writeOnly":true,"example":"my.host"},"Id":{"type":"string","description":"affiliate identifier","example":"22"},"Name":{"type":"string","description":"affiliate name","example":"1st affiliate"},"RegionId":{"type":"string","description":"affiliate's region identifier","example":"000523"},"RegionName":{"type":"string","description":"affiliate's region name","example":"Житомирська обл."}},"description":"Company affiliates list"},"AffiliateResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of affiliates","items":{"$ref":"#/components/schemas/AffiliateDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"AuthUsernamePasswordDto":{"type":"object","properties":{"password":{"type":"string"},"username":{"type":"string"}}},"CarrierDetails":{"type":"object","properties":{"CarrierType":{"type":"string","description":"carrier's type name","example":"New post"},"DeliveryTypeId":{"type":"integer","description":"delivery type identifier","format":"int32","example":1},"Id":{"type":"integer","description":"carrier identifier","format":"int32","example":1},"MarkUp":{"type":"number","description":"carrier markup","format":"float","example":100.5},"Name":{"type":"string","description":"carrier's name","example":"New post"},"TabMarkUp":{"$ref":"#/components/schemas/MarkUpDetails"}},"description":"List of carriers"},"CarriersResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of carriers","items":{"$ref":"#/components/schemas/CarrierDetails"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"CityPayload":{"type":"object","properties":{"Id":{"type":"string","description":"identifier","example":"4465413"},"Name":{"type":"string","description":"city name","example":"Київ"},"NpId":{"type":"string","description":"NovaPoshta identifier of the city","example":"93edc540-9e41-11e9-898c-005056b24375"}},"description":"Cities list"},"ClientPriceResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of prices","items":{"$ref":"#/components/schemas/PriceDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"ConsignmentTransfersResponseDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DocumentInfoDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"ConsignmentTransfersWithPositionsResponseDto":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DocumentWithPositionsDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"DeliveryDateTimeDto":{"type":"object","properties":{"Available":{"type":"boolean"},"Date":{"type":"string"},"Description":{"type":"string"},"Id":{"type":"integer","format":"int32"},"OrderUntil":{"type":"string"},"StartDeliveryTime":{"type":"string"}},"description":"available delivery time"},"DeliveryInfoDto":{"type":"object","properties":{"DeliveryPayload":{"$ref":"#/components/schemas/DeliveryPayloadDto"},"DeliveryTypeId":{"type":"integer","description":"delivery type identifier","format":"int32","example":2},"PickUpPayload":{"$ref":"#/components/schemas/PickupPayloadDto"},"WarehouseId":{"type":"string","description":"warehouse identifier","example":"4567"}}},"DeliveryMethodInfo":{"type":"object","properties":{"AvailableTimes":{"type":"array","description":"available delivery time","items":{"$ref":"#/components/schemas/DeliveryDateTimeDto"}},"Id":{"type":"string","description":"identifier"},"Message":{"type":"string","description":"message"},"Name":{"type":"string","description":"method's name"}},"description":"Delivery methods list"},"DeliveryMethodPayload":{"type":"object","properties":{"List":{"type":"array","description":"Array of delivery methods","items":{"$ref":"#/components/schemas/DeliveryMethodInfo"}},"Message":{"type":"string"}},"description":"Delivery methods list"},"DeliveryMethodsResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/DeliveryMethodPayload"},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"DeliveryPayloadDto":{"type":"object","properties":{"AddressId":{"type":"string","description":"address identifier","example":"654645"},"DeliveryMethodId":{"type":"string","description":"delivery method identifier","example":"4587"},"DeliveryTime":{"type":"string","description":"delivery time","example":"14:20"},"Insurance":{"type":"boolean","description":"insurance mark","example":false},"PickupPointId":{"type":"string","description":"pickup pont identifier","example":"654654"},"TransporterServiceId":{"type":"string","description":"transporting service identifier","example":"564644"}},"description":"delivery details"},"DeliveryTimesResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/DeliveryMethodPayload"}}},"DocumentInfoDto":{"type":"object","properties":{"amount":{"type":"number","format":"float"},"date":{"type":"string"},"id":{"type":"string"},"number":{"type":"string"}}},"DocumentWithPositionsDto":{"type":"object","properties":{"amount":{"type":"number","format":"float"},"date":{"type":"string"},"id":{"type":"string"},"number":{"type":"string"},"positions":{"type":"array","items":{"$ref":"#/components/schemas/Position"}}}},"IdNameDto":{"type":"object","properties":{"Id":{"type":"integer","description":"Identifier of object","format":"int32","example":9879456},"Name":{"type":"string","description":"Name of object","example":"Object nane"}},"description":"List of objects \"<Id-Name>\""},"IdNameResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of id-name objects with identifier and name","items":{"$ref":"#/components/schemas/IdNameDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"MarkUpDetails":{"type":"object","properties":{"Line":{"type":"integer","description":"line number","format":"int32","example":1},"Markup":{"type":"number","description":"Markup sum","format":"float","example":123.8},"SumMax":{"type":"number","description":"Maximum sum","format":"float","example":150.0},"SumMin":{"type":"number","description":"Minimum sum","format":"float","example":0.0}},"description":"carrier's markups table"},"OrderCartPositionDto":{"type":"object","properties":{"CartPosition":{"type":"array","description":"Array of positions","items":{"$ref":"#/components/schemas/OrderPositionFullDto"}}},"description":"order's positions"},"OrderDetailedInfo":{"type":"object","properties":{"AuthorId":{"type":"string","description":"user-author identifier","example":"9887"},"AuthorName":{"type":"string","description":"user-author name","example":"Ivanov Ivan"},"ClientId":{"type":"string","description":"client identifier","example":"999999"},"Id":{"type":"string","description":"identifier","example":"\"\""},"IsReserved":{"type":"boolean","description":"mark order reserved","example":true},"Number":{"type":"string","description":"number","example":"\"\""},"Options":{"type":"object","additionalProperties":{"type":"string","description":" order's options"},"description":" order's options"},"OrderDate":{"type":"string","description":"order date","example":"2024-09-18T14:00:28"},"PaymentInfo":{"$ref":"#/components/schemas/PaymentInfoDto"},"PositionInfo":{"type":"array","description":"Array of positions","items":{"$ref":"#/components/schemas/OrderPosition"}},"StatusId":{"type":"string","description":" order's status identifier","example":"456"},"StatusName":{"type":"string","description":" order's status name","example":"new"},"Sum":{"type":"number","description":"order sum","format":"float","example":4569.23}},"description":"order info"},"OrderDetailsInfoResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/OrderPayload"},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"OrderDto":{"type":"object","properties":{"AuthorId":{"type":"string","description":"user-author identifier","example":"99999999"},"AuthorName":{"type":"string","description":"user-author name","example":"Ivanov Ivan"},"ClientId":{"type":"string","description":"client identifier","example":"99999999"},"Id":{"type":"string","description":"order identifier","example":"e9432530-6457-11ef-a419-00155d02220b"},"IsReserved":{"type":"boolean","description":"mark that reserved","example":false},"Number":{"type":"string","description":"order number","example":"65456481"},"Options":{"type":"object","additionalProperties":{"type":"string","description":"order options"},"description":"order options"},"OrderDate":{"type":"string","description":"order date","example":"2024-08-27T12:37:07"},"PaymentInfo":{"$ref":"#/components/schemas/PaymentInfoDto"},"StatusId":{"type":"string","description":"order status identifier","example":"64564"},"StatusName":{"type":"string","description":"order status name","example":"new"},"Sum":{"type":"number","description":"order sum","format":"float","example":456.66}},"description":"Client's orders list"},"OrderFullDto":{"type":"object","properties":{"ClientId":{"type":"string","description":"client identifier","example":"999999"},"Date":{"type":"string","description":"order date","example":"2024-09-18T14:00:28"},"Delivery":{"$ref":"#/components/schemas/DeliveryInfoDto"},"Options":{"$ref":"#/components/schemas/OrderOptionsDto"},"Positions":{"$ref":"#/components/schemas/OrderCartPositionDto"}}},"OrderListPayload":{"type":"object","properties":{"List":{"type":"array","description":"Array of orders","items":{"$ref":"#/components/schemas/OrderDto"}},"Total":{"type":"integer","description":"total items in response","format":"int32"}},"description":"orders"},"OrderListResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/OrderListPayload"},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"OrderOptionDto":{"type":"object","properties":{"Comment":{"type":"string","description":"comment","example":"\"\""},"NeedToCheck":{"type":"boolean","description":"mark check needed","example":false},"SendFullOrder":{"type":"boolean","description":"mark send only full order","example":false},"SendOrderWithoutDocuments":{"type":"boolean","description":"mark send order without documents","example":false}},"description":"options"},"OrderOptionsDto":{"type":"object","properties":{"OrderOptions":{"$ref":"#/components/schemas/OrderOptionDto"}},"description":"additional options"},"OrderPayload":{"type":"object","properties":{"Order":{"$ref":"#/components/schemas/OrderDetailedInfo"}},"description":"response data"},"OrderPosition":{"type":"object","properties":{"Comment":{"type":"string","description":"position comment","example":"\"\""},"DeliveryInfo":{"$ref":"#/components/schemas/OrderPositionDeliveryInfo"},"Id":{"type":"string","description":"identifier","example":"\"\""},"Invoice":{"type":"string","description":"invoice"},"InvoiceId":{"type":"string","description":"invoice"},"IsReserved":{"type":"boolean","description":"position reserved","example":true},"Price":{"type":"number","description":"price","format":"float","example":3.23},"ProducerId":{"type":"string","description":"producer identifier","example":"564651111"},"ProducerName":{"type":"string","description":"producer name","example":"VAG"},"ReturnDays":{"type":"integer","description":"position days to return","format":"int32","example":6},"Status":{"type":"string","description":"status"},"StatusName":{"type":"string","description":"status name"},"WareId":{"type":"string","description":"ware identifier","example":"654561"},"WareName":{"type":"string","description":"ware name","example":"\"\""},"WareNumber":{"type":"string","description":"ware number","example":"56412132"},"WareQnt":{"type":"integer","description":"ware quantity","format":"int32","example":3}},"description":"position list"},"OrderPositionDeliveryInfo":{"type":"object","properties":{"DeliveryPayload":{"$ref":"#/components/schemas/DeliveryPayloadDto"},"DeliveryTypeId":{"type":"integer","description":"delivery type identifier","format":"int32"},"PickUpPayload":{"$ref":"#/components/schemas/PickupPayloadDto"},"WarehouseId":{"type":"string","description":"warehouse identifier"}},"description":"delivery info"},"OrderPositionDto":{"type":"object","properties":{"Comment":{"type":"string"},"DeliveryInfo":{"$ref":"#/components/schemas/DeliveryInfoDto"},"Id":{"type":"string"},"Invoice":{"type":"string"},"InvoiceId":{"type":"string"},"IsReserved":{"type":"boolean"},"Price":{"type":"number","format":"float"},"ProducerId":{"type":"string"},"ProducerName":{"type":"string"},"ReturnDays":{"type":"integer","format":"int32"},"Status":{"type":"string"},"StatusName":{"type":"string"},"WareId":{"type":"string"},"WareName":{"type":"string"},"WareNumber":{"type":"string"},"WareQnt":{"type":"integer","format":"int32"}},"description":"order's positions list"},"OrderPositionFullDto":{"type":"object","properties":{"ClientPrice":{"type":"number","description":"client price","format":"float","example":144.12},"Comment":{"type":"string","description":"position comment","example":"\"\""},"ProducerId":{"type":"string","description":"producer identifier","example":"564651111"},"SupplierId":{"type":"string","description":"supplier identifier","example":"47aca125-fc17-11e6-8106-00155d3a2e01"},"WareId":{"type":"string","description":"ware identifier","example":"654561"},"WareName":{"type":"string","description":"ware name","example":"\"\""},"WareNumber":{"type":"string","description":"ware number","example":"56412132"},"WareQnt":{"type":"number","description":"ware quantity","format":"float","example":3},"WarehouseId":{"type":"string","description":"warehouse identifier","example":"122"}},"description":"position list"},"OrderPositionsPayload":{"type":"object","properties":{"ClientId":{"type":"string","description":"client identifier","example":"999999"},"OrderDate":{"type":"string","description":"order date","example":"2024-09-18T14:00:28"},"OrderId":{"type":"string","description":"order identifier","example":"9dbaefeb-75ae-11ef-a419-00155d01120b"},"OrderNumber":{"type":"string","description":"order number","example":"07390641"},"PositionInfo":{"type":"array","description":"Array of detailed position info","items":{"$ref":"#/components/schemas/OrderPositionDto"}},"Total":{"type":"integer","description":"total positions in order","format":"int32","example":12}},"description":"Client's orders with positions list"},"OrderPositionsResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/OrdersList"},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"OrderShipments":{"type":"object","properties":{"orderUuid":{"type":"string","description":"Унікальний ідентифікатор замовлення","example":"2e79h40d-de1d-11ef-8128-0cc47a0c2eb7"},"shipmentDocs":{"type":"array","description":"Масив документів Видаткова накладна за замовленням","items":{"$ref":"#/components/schemas/ShipmentDetails"}}},"description":"Дані відвантажень замовлень"},"OrderStatusPayload":{"type":"object","properties":{"Color":{"type":"string","description":"status color"},"Icon":{"type":"string","description":"status icon"},"Id":{"type":"integer","description":"identifier","format":"int32"},"IsFinal":{"type":"boolean","description":"mark status as final status"},"Name":{"type":"string","description":"name"}},"description":"Statuses list"},"OrderStatusResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of possible statuses in orders","items":{"$ref":"#/components/schemas/OrderStatusPayload"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"OrdersList":{"type":"object","properties":{"List":{"type":"array","description":"Array of detailed orders info","items":{"$ref":"#/components/schemas/OrderPositionsPayload"}},"Total":{"type":"integer","description":"total orders with positions","format":"int32","example":22}},"description":"response data"},"Payload":{"type":"object","properties":{"fileData":{"type":"string","description":"base64 string of price data"}},"description":"response data"},"PaymentInfoDto":{"type":"object","properties":{"Date":{"type":"string","description":"payment date","example":"2024-08-27T12:37:07"},"Number":{"type":"string","description":"payment number","example":"21315"},"Sum":{"type":"number","description":"payment sum","format":"float","example":465.98}},"description":"order payment info"},"PickupPayloadDto":{"type":"object","properties":{"CollectUrgently":{"type":"boolean","description":"mark collecting urgently","example":false},"PickupPointId":{"type":"string","description":"pickup point identifier","example":"21351"},"PickupTime":{"type":"string","description":"pickup time","example":"14-00"}},"description":"pick up details"},"Position":{"type":"object","properties":{"amount":{"type":"number","format":"float"},"article":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"price":{"type":"number","format":"float"},"quantity":{"type":"integer","format":"int32"}}},"PositionRow":{"type":"object","properties":{"amount":{"type":"number","description":"Сума рядка","format":"float","example":423},"quantity":{"type":"integer","description":"Кількість","format":"int32","example":1},"wareArticle":{"type":"string","description":"Артикул запчастини","example":"06161"},"wareManufacturer":{"type":"string","description":"Виробник","example":"FEBI"},"warePrice":{"type":"number","description":"Ціна","format":"float","example":423}},"description":"Позиції видаткової"},"PriceDto":{"type":"object","properties":{"id":{"type":"string","description":"price UUID","example":"4aa21bd2-3929-11ea-80fb-0cc47a0c2eb7"},"lastUpdate":{"type":"string","description":"date of last updating","example":"09.05.2024 4:23:52"},"name":{"type":"string","description":"price name","example":"Price 143"},"number":{"type":"string","description":"price number","example":"143"}},"description":"Client's prices list"},"PriceFileResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Payload"},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"ProducerDto":{"type":"object","properties":{"Id":{"type":"string","description":"identifier","example":"21"},"ImageUrl":{"type":"string","description":"image url"},"IsOEM":{"type":"boolean","description":"oem mark","example":false},"Name":{"type":"string","description":"producer name","example":"VAG"},"Order":{"type":"number","description":"order","format":"float","example":0},"OurProducer":{"type":"boolean","description":"mark our producer","example":false},"ShortName":{"type":"string","description":"producer short name","example":"VAG"},"UrlName":{"type":"string","description":"url name"}},"description":"Ware's producers list"},"ProducerResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of producers","items":{"$ref":"#/components/schemas/ProducerDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"RegionsCitiesResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of cities","items":{"$ref":"#/components/schemas/CityPayload"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"ResponseDetails":{"type":"object","properties":{"Properties":{"type":"array","description":"Array of ware properties","items":{"$ref":"#/components/schemas/WarePropertyDto"}},"Total":{"type":"integer","description":"total items in response","format":"int32","example":10},"WareListItem":{"type":"array","description":"Array of wares","items":{"$ref":"#/components/schemas/WareShortDto"}}},"description":"response data"},"ShipmentDetails":{"type":"object","properties":{"docAmount":{"type":"number","description":"Сума документа","format":"float","example":423},"docDate":{"type":"string","description":"Дата документа","example":"2025-02-01T09:34:54"},"docNumber":{"type":"string","description":"Номер документа","example":"А-02609003"},"positions":{"type":"array","description":"Масив рядків табличної частини документу","items":{"$ref":"#/components/schemas/PositionRow"}}},"description":"Документи по замовленню"},"ShipmentDocumentsDtoResponse":{"type":"object","properties":{"data":{"type":"array","description":"Масив документів замовлення з видатковими","items":{"$ref":"#/components/schemas/OrderShipments"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"SimpleIdDto":{"type":"object","properties":{"Id":{"type":"string","description":"identifier"}},"description":"response data"},"SimpleResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SimpleIdDto"},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"SpareDetail":{"type":"object","properties":{"InStock":{"type":"integer","description":"quantity in stock on warehouse","format":"int64","example":2},"Price":{"type":"number","description":"price","format":"float","example":473.175},"SpareCode":{"type":"string","description":"spare code","example":"612598520_66"},"SpareName":{"type":"string","description":"spare name","example":"Прокладка ГБЦ"},"StockDetails":{"type":"array","description":"Array of warehouse stocks","items":{"$ref":"#/components/schemas/SpareStockDetails"}}},"description":"Spares list"},"SpareStockDetails":{"type":"object","properties":{"InStock":{"type":"integer","description":"in stock on this warehouse","format":"int64","example":6},"WarehouseId":{"type":"string","description":"warehouse identifier","example":"55"}},"description":"warehouse offers "},"SpareStockDtoResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of spares on stock","items":{"$ref":"#/components/schemas/SpareDetail"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"TokenResponse":{"type":"object","properties":{"access_token":{"type":"string","description":"access token to API requests","example":"my secret token"},"expires_in":{"type":"integer","description":"seconds to access token expire","format":"int32","example":660},"refresh_expires_in":{"type":"integer","description":"seconds to refresh token expire","format":"int32","example":6000},"refresh_token":{"type":"string","description":"refresh token to exchange on access token","example":"my refresh token"},"token_type":{"type":"string","description":"access token type","example":"my access token type"}}},"WareDetailedResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/WareFullDto"},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"WareFullDto":{"type":"object","properties":{"BarCode":{"type":"array","description":"Array of barcodes","items":{"type":"string","description":"barcodes list"}},"Description":{"type":"string","description":"description"},"GroupId":{"type":"string","description":"group identifier"},"HasImage":{"type":"boolean","description":"ware has images","example":false},"Id":{"type":"string","description":"identifier","example":"1187100180_2"},"ImageCodes":{"type":"array","description":"Array of images","items":{"type":"string","description":"images list"}},"InAction":{"type":"boolean","description":"ware in action","example":false},"IsOem":{"type":"boolean","description":"oem mark","example":false},"IsOutOfProduction":{"type":"boolean","description":"ware out of production","example":false},"MeasureUnit":{"type":"string","description":"pieces unit","example":"шт"},"Name":{"type":"string","description":"name","example":"Ручка дверна"},"ProducerId":{"type":"integer","description":"producer identifier","format":"int32","example":13248120},"ProducerName":{"type":"string","description":"producer name","example":"JP GROUP"},"UnitId":{"type":"string","description":"unit identifier","example":"00796"},"UseMultipleQnt":{"type":"integer","description":"use multiply quantity","format":"int32","example":1},"WareNumber":{"type":"string","description":"ware number","example":"1187100180"}}},"WareListWithPropertiesResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ResponseDetails"},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"WareOfferDto":{"type":"object","properties":{"AvailableQnt":{"type":"integer","description":"available quantity","format":"int32","example":99},"AvailableQntstr":{"type":"string","description":"available quantity string","example":"99"},"BestDelivery":{"type":"boolean","description":"best delivery","example":false},"BestPrice":{"type":"boolean","description":"best price","example":false},"BestQnt":{"type":"boolean","description":"best quantity","example":false},"BestReturn":{"type":"boolean","description":"best return","example":false},"ClientPrice":{"type":"number","description":"client price","format":"float","example":2356.52},"ClientSalePrice":{"type":"number","description":"client sale price","format":"float","example":0.0},"DeliveryDays":{"type":"integer","description":"delivery days","format":"int32","example":29},"DeliveryRating":{"type":"string","description":"delivery rating","example":"0"},"DeliveryTerm":{"type":"string","description":"delivery term","example":"14:00"},"Icons":{"type":"array","description":"Array of icons","items":{"type":"integer","description":"icons list","format":"int32"}},"Id":{"type":"string","description":"identifier","example":"1K0254707KX_1"},"ImageUrl":{"type":"string","description":"image url"},"InCart":{"type":"integer","description":"in cart","format":"int32","example":0},"IsTradeOrganization":{"type":"boolean","description":"mark trade organization","example":false},"Message":{"type":"string","description":"message"},"MyWarehouse":{"type":"boolean","description":"my warehouse","example":false},"Name":{"type":"string","description":"name","example":"Глушник"},"PriceBeforeSale":{"type":"number","description":"price before sale","format":"float","example":2565.98},"PricelistUid":{"type":"string","description":"price list UUID"},"ProducerId":{"type":"integer","description":"producer identifier","format":"int32","example":315113},"ProducerName":{"type":"string","description":"producer name","example":"VAG"},"RecommendedPrice":{"type":"number","description":"category","format":"float","example":3},"ResultCategory":{"type":"integer","description":"category","format":"int32","example":3},"ReturnDays":{"type":"integer","description":"return days","format":"int32","example":3},"SaleQnt":{"type":"integer","description":"sale quantity","format":"int32","example":0},"SupplierBrandName":{"type":"string","description":"supplier brand name"},"SupplierId":{"type":"string","description":"supplier identifier","example":"36546541"},"SupplierWareName":{"type":"string","description":"supplier ware name"},"SupplierWareNumber":{"type":"string","description":"supplier ware number"},"SupplierWarehouseId":{"type":"string","description":"supplier warehouse identifier","example":"351132"},"SupplierWarehouseName":{"type":"string","description":"supplier warehouse name"},"WareNumber":{"type":"string","description":"ware number","example":"1K0254707KX"}},"description":"Client's offers list"},"WareOfferListResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of offers","items":{"$ref":"#/components/schemas/WareOfferDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}},"WarePropertyDto":{"type":"object","properties":{"Type":{"type":"string","description":"property"},"Value":{"type":"string","description":"property value"}},"description":"Ware properties list"},"WareShortDto":{"type":"object","properties":{"HasImage":{"type":"boolean","description":"mark that ware has an attach image","example":false},"Id":{"type":"string","description":"ware identifier","example":"111210_116"},"ImageId":{"type":"string","description":"url to ware image"},"Name":{"type":"string","description":"ware name","example":"Трос"},"ProducerId":{"type":"integer","description":"producer identifier","format":"int32","example":8788782},"ProducerName":{"type":"string","description":"producer name","example":"Kolbenschmidt"},"WareNumber":{"type":"string","description":"ware number","example":"111210"}},"description":"Wares list"},"WarehouseDto":{"type":"object","properties":{"Abbreviation":{"type":"string","description":"abbreviation"},"AffiliateId":{"type":"string","description":"affiliate identifier","example":"325"},"Id":{"type":"string","description":"warehouse identifier"},"Name":{"type":"string","description":"warehouse name"},"RegionId":{"type":"string","description":"region identifier"},"RegionName":{"type":"string","description":"region name"},"SupplyPeriod":{"type":"number","description":"period to supply","format":"float","example":2.5}},"description":"Warehouses list"},"WarehouseResponse":{"type":"object","properties":{"data":{"type":"array","description":"Array of warehouses","items":{"$ref":"#/components/schemas/WarehouseDto"}},"success":{"type":"string","description":"Request processing success flag","example":"true"}}}},"securitySchemes":{"keycloak":{"flows":{"authorizationCode":{"authorizationUrl":"https://auth.autonovad.ua/realms/AutonovaD/protocol/openid-connect/auth","scopes":{"microprofile-jwt":"","openid":""},"tokenUrl":"https://auth.autonovad.ua/realms/AutonovaD/protocol/openid-connect/token"}},"type":"oauth2"}}}}