{"openapi":"3.0.0","info":{"title":"Technomir API","description":"Все запросы к API осуществляются через протокол HTTPS методом POST. Данные отправляются в JSON формате, а возвращаются по выбору - JSON или XML. Данный выбор регулирется заголовком запроса.\n                                Для начала работы с API, необходимо сгенерировать TOKEN. Это можно сделать в личном кабинете (Управление - API)\n                                [Пример кода на PHP](https://tehnomir.com.ua/api2.php.example)\n                                [Пример кода на Golang](https://github.com/NuclearLouse/tehnomir)\n                                ","contact":{"email":"webmaster@tehnomir.com.ua"},"version":"2.0.6"},"servers":[{"url":"https://api.tehnomir.com.ua"},{"url":"https://api.tehnomir.com.ua"}],"paths":{"/basket/getPositions":{"post":{"tags":["Basket"],"summary":"Просмотр содержимого корзины","operationId":"a454f26620f0057eddf6ff06da400691","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"basketId":{"description":"ID добавленной позиции корзины","type":"integer"},"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"brandId":{"description":"ID производителя","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"quantity":{"description":"Количество","type":"integer"},"multiplicity":{"description":"Кратность количества для заказа. Т.е. если multiplicity=5, то заказать вы можете 5, 10, 35 и тд.","type":"number"},"price":{"description":"Цена","type":"number"},"currency":{"description":"Валюта","type":"string"},"reference":{"description":"Ваша ссылка (уникальная) на позицию. В дальнейшем по reference можно отслеживать состояние данной позиции.\n                                Будет напечатан на стикере детали в виде текста и штрих кода","type":"string"},"comment":{"description":"Комментарий к позиции. Будет напечатан на стикере детали в виде текста","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/basket/add":{"post":{"tags":["Basket"],"summary":"Добавление позиции в корзину","operationId":"c4f2911a321752b7d75e70ac82f520a9","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","productId","priceLogo","quantity"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"productId":{"description":"ID продукта, можно полулучить при поиске методом price/search","type":"integer"},"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"quantity":{"description":"Количество (мин 1, макс 200). Предварительно необходимо уточнить наличие и кратность используя price/search","type":"integer"},"reference":{"description":"Ваша ссылка (уникальная) на позицию. В дальнейшем по reference можно отслеживать состояние данной позиции.\n                            Будет напечатан на стикере детали в виде текста и штрих кода","type":"string"},"comment":{"description":"Комментарий к позиции. Будет напечатан на стикере детали в виде текста","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"properties":{"basketId":{"description":"ID добавленной позиции корзины","type":"integer"}},"type":"object"}},"type":"object","xml":{"name":"response"}}}}}}}},"/basket/clear":{"post":{"tags":["Basket"],"summary":"Очистка корзины","operationId":"f14eb743ce3ea197fb4ad9fdb3944e46","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"}},"type":"object","xml":{"name":"response"}}}}}}}},"/basket/delete":{"post":{"tags":["Basket"],"summary":"Удаление одной позиции из корзины","operationId":"34408858618a0ad58162545e7ee15b2b","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","basketId"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"basketId":{"description":"ID позиции в корзине","type":"integer"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"}},"type":"object","xml":{"name":"response"}}}}}}}},"/info/getCurrencies":{"post":{"tags":["Info"],"summary":"Метод для получения списка валют с коеффициентами","operationId":"69408d9320854c816947b7ec2dc2b706","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"currency":{"description":"Валюта","type":"string"},"rate":{"description":"Текущий курс гривны","type":"number"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/info/getBrandsByCode":{"post":{"tags":["Info"],"summary":"Метод для получения списка брендов для кода","operationId":"be675c8c730390fdc2c3234a6476bcae","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","code"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"isInPriceOnly":{"description":"Показывать только те бренды, которые есть в прайсах","type":"integer","default":"1"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"brandId":{"description":"ID производителя","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"descriptionUa":{"description":"Описание детали (укр. язык)","type":"string"},"offersCount":{"description":"Кол-во предложений","type":"number"},"brandGroupId":{"description":"ID группы бренда","type":"integer"},"isAutoSelect":{"description":"Автовыбор бренда","type":"boolean"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/info/getBrandGroups":{"post":{"tags":["Info"],"summary":"Метод для получения списка групп брендов","operationId":"94085d7353beed0f5b769cc5906d82e6","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"groupId":{"description":"ID группы","type":"integer"},"group":{"description":"Название группы","type":"string"},"brandIds":{"description":"ID брендов в группе","type":"array","items":{"type":"integer"},"xml":{"wrapped":true}}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/info/getBrands":{"post":{"tags":["Info"],"summary":"Метод для получения списка производителей","operationId":"eba8552840706ac989ff88764bbe85dc","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"brandId":{"description":"ID производителя","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"isOriginal":{"description":"Флаг оригинальности производителя","type":"number"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/info/getSuppliers":{"post":{"tags":["Info"],"summary":"Метод для получения списка поставщиков","operationId":"5e903e6855a4d12720163dcefc04c114","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"deliveryTypeId":{"description":"ID типа доставки","type":"string"},"deliveryType":{"description":"Тип доставки","type":"string"},"deliveryTime":{"description":"Время доставки, в днях","type":"integer"},"deliveryTimeHours":{"description":"Время доставки, в часах","type":"string"},"deliveryDate":{"description":"Расчетная дата и время доставки, на текущий момент","type":"string"},"region":{"description":"Страна склада поставщика на русском языке","type":"string"},"regionEn":{"description":"Страна склада поставщика на английском языке","type":"string"},"regionUa":{"description":"Страна склада поставщика на украинском языке","type":"string"},"isReturnFlag":{"description":"Флаг возможности возврата товара","type":"integer"},"isPriceFinalFlag":{"description":"Признак конечной цены товаров, с учетом доставки","type":"integer"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/info/getProductInfo":{"post":{"tags":["Info"],"summary":"Метод для получения информации о продукте","operationId":"48731489ae540f910e32086cc65c5ca0","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["code","apiToken","brandId"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"brandId":{"description":"ID производителя","type":"integer"},"code":{"description":"Каталожный номер детали","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"properties":{"productId":{"description":"ID продукта, можно полулучить при поиске методом price/search","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"descriptionUa":{"description":"Описание детали (укр. язык)","type":"string"},"weight":{"description":"Вес детали, кг","type":"number"},"volume":{"description":"Объём детали, см. куб.","type":"number"},"images":{"description":"Массив ссылок на изображения","type":"array","items":{"properties":{"image":{"type":"string"}},"type":"object"},"xml":{"wrapped":true}},"analogs":{"description":"Информация по заменам","type":"array","items":{"properties":{"productId":{"type":"integer"},"brand":{"type":"string"},"code":{"type":"string"},"descriptionRus":{"type":"string"},"descriptionUa":{"type":"string"},"weight":{"type":"number"},"volume":{"type":"number"}},"type":"object"},"xml":{"wrapped":true}},"properties":{"description":"Различные свойства детали","type":"array","items":{"properties":{"name":{"type":"string"},"value":{"type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object"}},"type":"object","xml":{"name":"response"}}}}}}}},"/info/getPositionStatuses":{"post":{"tags":["Info"],"summary":"Метод для получения списка статусов позиций","operationId":"985ca6fc7bdb6d151a79973ae4ec924e","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"statusId":{"description":"ID статуса","type":"integer"},"status":{"description":"Название статуса","type":"string"},"description":{"description":"Описание статуса","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/order/create":{"post":{"tags":["Order"],"summary":"Оформление заказа позиций находящихся в корзине","operationId":"fa2c75965cf2de25056e633658bbcd24","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"string"},"basketIds":{"description":"Массив ID позиций в корзине","type":"array","items":{"type":"integer"},"example":[15847625,15847521,15847599]}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"properties":{"orderId":{"description":"ID сформированного заказа","type":"number"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"string"},"sum":{"description":"Сумма сформированного заказа","type":"number"},"statusId":{"description":"ID статуса заказа","type":"string"},"status":{"description":"Статус заказа","type":"string"},"createTime":{"description":"Дата и время формирования заказа","type":"string"}},"type":"object"}},"type":"object","xml":{"name":"response"}}}}}}}},"/order/getActive":{"post":{"tags":["Order"],"summary":"Метод для получение списка активных заказов.","operationId":"c9f685ad63c4fa2c826b1828a9dbed5d","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"orderId":{"description":"ID заказа","type":"number"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"string"},"sum":{"description":"Сумма заказа","type":"number"},"statusId":{"description":"ID статуса заказа","type":"string"},"status":{"description":"Статус заказа","type":"string"},"createTime":{"description":"Дата и время формирования заказа","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/order/search":{"post":{"tags":["Order"],"summary":"Метод для получение списка заказов. Поиск или по датам или по номеру","operationId":"51ac348945ad3bb83fdd5c4e67f3b052","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"fromDate":{"description":"Дата создания, С. Формат YYYY-MM-DD","type":"string","example":"2022-01-20"},"toDate":{"description":"Дата создания, До. Формат YYYY-MM-DD","type":"string","example":"2022-01-25"},"orderNumber":{"description":"Номер заказа в вашей системе (указанный при формировании заказа)","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"orderId":{"description":"ID заказа","type":"number"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"string"},"sum":{"description":"Сумма заказа","type":"number"},"statusId":{"description":"ID статуса заказа","type":"string"},"status":{"description":"Статус заказа","type":"string"},"createTime":{"description":"Дата и время формирования заказа","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/order/getChangedPositions":{"post":{"tags":["Order"],"summary":"Метод для получения списка заказанных позиций, поменявших свой статус, начиная с указанной даты","operationId":"68bd47c9746993b70331fa678ec769c2","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","fromDateTime"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"fromDateTime":{"description":"Дата в формате yyyy-mm-dd hh:ii:ss начиная с которой позиции изменили свой статус","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"orderId":{"description":"ID заказа","type":"integer"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"string"},"orderPositionId":{"description":"ID позиции заказа","type":"integer"},"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"brandId":{"description":"ID производителя","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"replaceCode":{"description":"Код замены","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"descriptionUa":{"description":"Описание детали (укр. язык)","type":"string"},"price":{"description":"Цена","type":"number"},"currency":{"description":"Валюта","type":"string"},"reference":{"description":"Ваша ссылка на позицию. Будет напечатан на стикере детали в виде текста и штрих кода","type":"string"},"comment":{"description":"Комментарий к позиции. Будет напечатан на стикере детали в виде текста","type":"string"},"adminComment":{"description":"Комментарий нашего менеджера","type":"string"},"expectedFinishTime":{"description":"Расчетная дата доставки","type":"string"},"correctedFinishTime":{"description":"Откорректированная дата доставки","type":"string"},"weight":{"description":"Вес","type":"number"},"states":{"description":"Состояния позиции","type":"array","items":{"properties":{"quantity":{"description":"Количество в определённом статусе","type":"integer"},"statusId":{"description":"ID статуса позиции","type":"integer"},"status":{"description":"Название статуса позиции","type":"string"},"statusChangedDate":{"description":"Дата и время последнего изменения статуса","type":"string"},"cityId":{"description":"ID города (для статуса на складе, уточняется город склада)","type":"integer"},"cityName":{"description":"Город (для статуса на складе, уточняется город склада)","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/order/getOrderPositions":{"post":{"tags":["Order"],"summary":"Метод для получение списка позиций заказа","operationId":"0ec5ed8ba2e46046e387be60fcf34eb5","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","orderId"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"orderId":{"description":"ID заказа","type":"integer"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"orderId":{"description":"ID заказа","type":"integer"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"string"},"orderPositionId":{"description":"ID позиции заказа","type":"integer"},"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"brandId":{"description":"ID производителя","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"replaceCode":{"description":"Код замены","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"descriptionUa":{"description":"Описание детали (укр. язык)","type":"string"},"price":{"description":"Цена","type":"number"},"currency":{"description":"Валюта","type":"string"},"reference":{"description":"Ваша ссылка на позицию. Будет напечатан на стикере детали в виде текста и штрих кода","type":"string"},"comment":{"description":"Комментарий к позиции. Будет напечатан на стикере детали в виде текста","type":"string"},"adminComment":{"description":"Комментарий нашего менеджера","type":"string"},"expectedFinishTime":{"description":"Расчетная дата доставки","type":"string"},"correctedFinishTime":{"description":"Откорректированная дата доставки","type":"string"},"weight":{"description":"Вес","type":"number"},"states":{"description":"Состояния позиции","type":"array","items":{"properties":{"quantity":{"description":"Количество в определённом статусе","type":"integer"},"statusId":{"description":"ID статуса позиции","type":"integer"},"status":{"description":"Название статуса позиции","type":"string"},"statusChangedDate":{"description":"Дата и время последнего изменения статуса","type":"string"},"cityId":{"description":"ID города (для статуса на складе, уточняется город склада)","type":"integer"},"cityName":{"description":"Город (для статуса на складе, уточняется город склада)","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/order/getOrderPositionsByStatus":{"post":{"tags":["Order"],"summary":"Метод для получение списка позиций заказов, соответствующих указанному статусу. Поиск осуществляется по заказам в состоянии 'В работе'","operationId":"84aad5f6fb61c707a3d21d9ed469058c","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","statusId"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"statusId":{"description":"Идентификатор статуса позиций, согласно списка полученного вызовом метода /info/getPositionStatuses","type":"integer"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"orderId":{"description":"ID заказа","type":"integer"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"string"},"orderPositionId":{"description":"ID позиции заказа","type":"integer"},"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"brandId":{"description":"ID производителя","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"replaceCode":{"description":"Код замены","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"descriptionUa":{"description":"Описание детали (укр. язык)","type":"string"},"price":{"description":"Цена","type":"number"},"currency":{"description":"Валюта","type":"string"},"reference":{"description":"Ваша ссылка на позицию. Будет напечатан на стикере детали в виде текста и штрих кода","type":"string"},"comment":{"description":"Комментарий к позиции. Будет напечатан на стикере детали в виде текста","type":"string"},"adminComment":{"description":"Комментарий нашего менеджера","type":"string"},"expectedFinishTime":{"description":"Расчетная дата доставки","type":"string"},"correctedFinishTime":{"description":"Откорректированная дата доставки","type":"string"},"weight":{"description":"Вес","type":"number"},"states":{"description":"Состояния позиции","type":"array","items":{"properties":{"quantity":{"description":"Количество в определённом статусе","type":"integer"},"statusId":{"description":"ID статуса позиции","type":"integer"},"status":{"description":"Название статуса позиции","type":"string"},"statusChangedDate":{"description":"Дата и время последнего изменения статуса","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/order/getPositionInfo":{"post":{"tags":["Order"],"summary":"Метод для получения информации о позиции заказа по reference","operationId":"17359c9e8d0016ff4981b9e6d8900cc6","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","reference"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"reference":{"description":"Ссылка на позицию","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"orderId":{"description":"ID заказа","type":"integer"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"string"},"orderPositionId":{"description":"ID позиции заказа","type":"integer"},"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"brandId":{"description":"ID производителя","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"replaceCode":{"description":"Код замены","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"descriptionUa":{"description":"Описание детали (укр. язык)","type":"string"},"price":{"description":"Цена","type":"number"},"currency":{"description":"Валюта","type":"string"},"reference":{"description":"Ваша ссылка на позицию. Будет напечатан на стикере детали в виде текста и штрих кода","type":"string"},"comment":{"description":"Комментарий к позиции. Будет напечатан на стикере детали в виде текста","type":"string"},"adminComment":{"description":"Комментарий нашего менеджера","type":"string"},"expectedFinishTime":{"description":"Расчетная дата доставки","type":"string"},"correctedFinishTime":{"description":"Откорректированная дата доставки","type":"string"},"weight":{"description":"Вес","type":"number"},"states":{"description":"Состояния позиции","type":"array","items":{"properties":{"quantity":{"description":"Количество в определённом статусе","type":"integer"},"statusId":{"description":"ID статуса позиции","type":"integer"},"status":{"description":"Название статуса позиции","type":"string"},"statusChangedDate":{"description":"Дата и время последнего изменения статуса","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/order/cancelOrderPosition":{"post":{"tags":["Order"],"summary":"Метод снятия позиции с заказа","operationId":"1466148dde7580a831d2a5a352595288","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","id"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"id":{"description":"ID позиции в заказе","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"}},"type":"object","xml":{"name":"response"}}}}}}}},"/price/search":{"post":{"tags":["Price"],"summary":"Метод для проценки деталей по номеру","operationId":"96a8b2b28bd3f2d5032112b092586c24","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["code","apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"brandId":{"description":"ID производителя","type":"integer"},"code":{"description":"Каталожный номер детали","type":"string"},"isShowAnalogs":{"description":"Проценка деталей с кроссами, по умолчанию 0","type":"number"},"currency":{"description":"Валюта. Если задана, то цены выдаются в указанной валюте","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"productId":{"description":"ID продукта, используется для добавления в корзину","type":"number"},"brandId":{"description":"ID производителя","type":"number"},"brandGroupId":{"description":"ID группы производителей","type":"number"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"descriptionUa":{"description":"Описание детали (укр. язык)","type":"string"},"weight":{"description":"Вес детали","type":"number"},"isOriginal":{"description":"Флаг оригинальности производителя","type":"boolean"},"isExistProductInfo":{"description":"Флаг наличия допополнительной ниформации о детали, которую, при положительном значении флага, можно получить методом info/getProductInfo","type":"boolean"},"rests":{"description":"Остатки на складах поставщиков","type":"array","items":{"properties":{"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"price":{"description":"Цена","type":"number"},"currency":{"description":"Валюта","type":"string"},"quantity":{"description":"Количество, ориентировочное или точное, зависит от quantityType","type":"number"},"quantityType":{"description":"Тип количества, может быть точным (EQUAL) или более (MORE). Т.е. если quantity = 20, а quantityType = MORE, то у поставщика более 20 шт в наличии","type":"string"},"multiplicity":{"description":"Кратность количества для заказа. Т.е. если multiplicity=5, то заказать вы можете 5, 10, 35 и тд.","type":"number"},"priceQuality":{"description":"Качество, рейтинг поставщика в нашей системе, от 0 до 5","type":"number"},"deliveryTypeId":{"description":"ID типа доставки.","type":"number"},"deliveryType":{"description":"Тип доставки.","type":"string"},"deliveryTime":{"description":"Время доставки, в днях","type":"number"},"deliveryDate":{"description":"Расчетная дата и время доставки, на текущий момент","type":"string"},"deliveryPercent":{"description":"Процент успешного выполнения заказов поставщиком","type":"number"},"priceChangeDate":{"description":"Дата и время последнего обновления цены","type":"string"},"isReturn":{"description":"Флаг возможности возврата товара","type":"number"},"isPriceFinal":{"description":"Признак конечной цены с учетом веса","type":"number"}},"type":"object"},"xml":{"name":"rests","wrapped":true}}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Exceeded the allowable limit of requests"}}}},"/price/getStockPrice":{"post":{"tags":["Price"],"summary":"Метод для получение остатков на STOK поставщике","operationId":"819d27cd93e06002460a25e3b47d61c1","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"productId":{"description":"ID продукта, используется для добавления в корзину","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"quantity":{"description":"Количество","type":"integer"},"price":{"description":"Цена","type":"number"},"currency":{"description":"Валюта","type":"string"},"codePrinted":{"description":"Код детали для отображения, с '-', '.'","type":"string"},"priceForRemote":{"description":"Цена для внешних ресурсов","type":"number"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/price/priceFile":{"post":{"tags":["Price"],"summary":"Метод для получения ссылок на файлы прайсов","operationId":"44f3c6f33f43e0eb94de1e312fa5ccb2","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"store":{"description":"Код склада","type":"string"},"items":{"type":"array","items":{"properties":{"format":{"description":"Формат файла (xls, xlsx, csv)","type":"string"},"url":{"description":"URL для скачивания файла","type":"string"}},"type":"object"}}},"type":"object"}}},"type":"object","xml":{"name":"response"}}}}},"403":{"description":"Forbidden - Price download disabled"}}}},"/test/connect":{"post":{"tags":["Test"],"summary":"Метод для тестирования соединения","operationId":"b6508387dce16f71faa6fb4c79605230","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"string":{"description":"Строка для проверки","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"properties":{"testString":{"type":"string"}},"type":"object"}},"type":"object","xml":{"name":"response"}}}}}}}},"/unload/search":{"post":{"tags":["Unload"],"summary":"Метод для получения списка отгрузок","operationId":"3215a9afed9016cd2d8f632177fa1198","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"fromDate":{"description":"Дата создания, С. Формат YYYY-MM-DD","type":"string","example":"2022-01-20"},"toDate":{"description":"Дата создания, До. Формат YYYY-MM-DD","type":"string","example":"2022-01-25"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"unloadId":{"description":"ID отгрузки","type":"integer"},"createTime":{"description":"Дата и время создания","type":"string"},"boxQuantity":{"description":"Количество коробок","type":"integer"},"sumParts":{"description":"Стоимость деталей","type":"number"},"sumWorks":{"description":"Цена за работы","type":"number"},"sumDelivery":{"description":"Стоимость доставки","type":"number"},"sumTotal":{"description":"Общая стоимость отгрузки","type":"number"},"carrier":{"description":"Перевозчик","type":"string"},"carrierWaybill":{"description":"Номер ТТН","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}},"/unload/getData":{"post":{"tags":["Unload"],"summary":"Метод для получения информации по отгрузке","operationId":"7fec23588c13818adb3fca9054150e64","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken","unloadId"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"},"unloadId":{"description":"ID отгрузки","type":"integer"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"properties":{"boxes":{"description":"Список коробок","type":"array","items":{"properties":{"boxId":{"description":"ID коробки","type":"integer"},"sumPositions":{"description":"Цена позиций в коробке","type":"number"},"sumWorks":{"description":"Сумма за работы по коробке","type":"number"},"length":{"description":"Длинна коробки","type":"number"},"width":{"description":"Ширина коробки","type":"number"},"height":{"description":"Высота коробки","type":"number"},"weight":{"description":"Вес коробки","type":"number"}},"type":"object"},"xml":{"wrapped":true}},"positions":{"description":"Список позиций","type":"array","items":{"properties":{"boxId":{"description":"ID коробки","type":"integer"},"orderId":{"description":"ID заказа","type":"integer"},"orderNumber":{"description":"Номер заказа в вашей системе","type":"number"},"orderPositionId":{"description":"ID позиции заказа","type":"integer"},"priceLogo":{"description":"4х значный код прайслиста поставщика","type":"string"},"brandId":{"description":"ID производителя","type":"integer"},"brand":{"description":"Название производителя","type":"string"},"code":{"description":"Каталожный номер детали","type":"string"},"descriptionRus":{"description":"Описание детали","type":"string"},"descriptionUa":{"description":"Описание детали (укр. язык)","type":"string"},"quantity":{"description":"Количество","type":"integer"},"price":{"description":"Цена","type":"number"},"priceFinal":{"description":"Конечная цена, с учетом веса","type":"number"},"currency":{"description":"Валюта","type":"string"},"reference":{"description":"Ваша ссылка на позицию. Будет напечатан на стикере детали в виде текста и штрих кода","type":"string"},"comment":{"description":"Комментарий к позиции. Будет напечатан на стикере детали в виде текста","type":"string"},"adminComment":{"description":"Комментарий нашего менеджера","type":"string"},"weight":{"description":"Вес детали","type":"number"},"sticker":{"description":"Стикер детали","type":"string"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object"}},"type":"object","xml":{"name":"response"}}}}}}}},"/unload/getBoxesReadyToSend":{"post":{"tags":["Unload"],"summary":"Метод для получения коробок, готовых к отгрузке","operationId":"0d1745183ce1f38f430b9275e40255a1","requestBody":{"required":true,"content":{"application/json":{"schema":{"required":["apiToken"],"properties":{"apiToken":{"description":"Ваш уникальный идентификатор, для доступа к API","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"properties":{"boxId":{"description":"ID коробки","type":"integer"},"sumPositions":{"description":"Цена позиций в коробке","type":"number"},"sumWorks":{"description":"Сумма за работы по коробке","type":"number"},"length":{"description":"Длинна коробки","type":"number"},"width":{"description":"Ширина коробки","type":"number"},"height":{"description":"Высота коробки","type":"number"},"weight":{"description":"Вес коробки","type":"number"}},"type":"object"},"xml":{"wrapped":true}}},"type":"object","xml":{"name":"response"}}}}}}}}},"tags":[{"name":"Basket","description":"Корзина клиента"},{"name":"Info","description":"Справочная информация"},{"name":"Order","description":"Заказ клиента"},{"name":"Price","description":"Проценка детали"},{"name":"Test","description":"API тест"},{"name":"Unload","description":"Отгрузки клиента"}]}